
{% extends "base.html" %}

{% block mark_tab %}
    class="active"
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Mark_ID
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Message_ID
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Last Activity
                    </th>
                    <th>
                        Mark Type
                    </th>
                    <th>
                        State
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for mark in marks %}
                <tr>
                    <td>
                        {{ mark.pk }}
                    </td>
                    <td>
                        {{ mark.client.pk }}
                    </td>
                    <td>
                        {{ mark.totem_message.pk }}
                    </td>
                    <td>
                        {{ mark.totem_message.message }}
                    </td>
                    <td>
                        {{ mark.created }}
                    </td>
                    <td>
                        {{ mark.last_activity }}
                    </td>
                    <td>
                        {{ mark.mark_type }}
                    </td>
                    <td>
                        {{ mark.state }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}
