{% extends "custom_admin/base.html" %}

{% block content %}

<div class="row">
    <div class="span12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        owner
                    </th>
                    <th>
                        totem
                    </th>
                    <th>
                        created
                    </th>
                    <th>
                        flag_count
                    </th>
                    <th>
                        message
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr {% if not message.active %}class="disabled"{% endif %}>
                    <td>
                        {{ message.pk }}
                    </td>

                    <td>
                        {{ message.owner.device_id }}
                    </td>
                    <td>
                        <a href="{% url "totems_map_single" message.totem.pk %}">
                            <i class="icon-map-marker"></i>
                        </a>
                        <a href="{% url "totems_detail" message.totem.pk %}">
                            {{ message.totem.pk }}
                        </a>
                    </td>
                    <td>
                        {{ message.created }}
                    </td>
                    <td>
                        {{ message.get_flag_count }}
                    </td>
                    <td>
                        {{ message.message }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}
