{% extends "custom_admin/base.html" %}

{% block content %}

<div class="row">

    <div class="span12">

    <legend><h2>{{ totem.pk }} ( {{ totem.get_message_count }} )</h2></legend>

    {% for message in messages %}

        <div class="message
{% if not message.1.active %}
deleted
{% endif %}
" style="margin-left:{{ message.0 }}px;" id="msg-{{ message.1.pk }}">

            <h5>{{ message.1.owner.id }} at {{ message.1.created }} :</h5>

            <p>
                {{ message.1.message }}
            </p>

            </a>

            <p style="float:right;">

                <button class="spam_btn btn btn-danger action_mark_flag_message
{% if message.1.x_is_marked_flag %}
active
{% endif %}
" data-id="{{ message.1.pk }}" data-toggle="button"><i class="icon-flag icon-white"></i> Mark Flag</button>
                {% if message.1.active %}
                    <button class="delete_btn btn btn-inverse action_delete_message" data-id="{{ message.1.pk }}"><i class="icon-trash icon-white"></i> Delete</button>
                {% endif %}
                <button class="reply_btn btn btn-primary action_render_reply_modal" data-id="{{ message.1.pk }}" ><i class="icon-share-alt icon-white"></i> Reply</button>
            </p>
            <div style="clear:both;"></div>
        </div>


    {% endfor %}

    </div>

</div>

<div class="modal hide fade" id="modalAddReply">

    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add Reply</h3>
    </div>

    <form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
        <div class="modal-body">

                <fieldset>

                    <div class="control-group">

                        <label class="control-label">Message</label>

                        <div class="controls">
                            <textarea name="message" id="id_message" class="input-xlarge" rows="3"></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="parent_message_id" id="id_parent_message_id" value="test" />

                </fieldset>
        </div>

        <div class="modal-footer">
            <a class="btn" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="submit">Add Totem</button>
        </div>
    </form>
</div>

{% endblock %}
