{% extends "custom_admin/base.html" %}

{% block content %}

<div class="row">
    <div class="span12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        totem
                    </th>
                    <th>
                        owner
                    </th>
                    <th>
                        created
                    </th>
                    <th>
                        last_activity
                    </th>
                    <th>
                        parent_message
                    </th>
                    <th>
                        #_messages
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for totem in totems %}
                <tr{% if not totem.active %} class="disabled"{% endif %}>
                    <td>
                        <a href="{% url "totems_map_single" totem.pk %}">
                            <i class="icon-map-marker"></i>
                        </a>
                        <a href="{% url "totems_detail" totem.pk %}">
                            {{ totem.pk }}
                        </a>
                    </td>

                    <td>
                        {{ totem.owner.device_id }}
                    </td>
                    <td style="font-size:10px;">
                        {{ totem.created }}
                    </td>
                    <td style="font-size:10px;">
                        {{ totem.last_activity }}
                    </td>
                    <td>
                        {{ totem.get_parent_message.message }}
                    </td>
                    <td>
                        {{ totem.get_message_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
