{% extends "custom_admin/base.html" %}
{% load url from future %}

{% block extra_head %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>

    var map;

    function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: new google.maps.LatLng({{ points.0.coors.1 }}, {{ points.0.coors.0 }}),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker = new Array();
        var info = new Array();
        {% for point in points %}
            marker[{{ forloop.counter }}] = new google.maps.Marker(
                    {
                        map: map,
                        position: new google.maps.LatLng({{ point.coors.1 }},{{ point.coors.0 }}),
                        icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld={{ point.label }}|{{ point.color }}",
                    }
            );

            info[{{ forloop.counter }}] = new google.maps.InfoWindow({
                {% if point.totem_id %}
                    content: "{{ point.coors.0 }}, {{ point.coors.1 }} <br /> <a href='{% url "totems_detail" point.totem_id %}'>{{ point.message|safe }}</a>",
                {% else %}
                    content: "{{ point.coors.0 }}, {{ point.coors.1 }} <br /> {{ point.message|safe }}",
                {% endif %}
            });

            google.maps.event.addListener(marker[{{ forloop.counter }}], 'click', function() {
                    map.setCenter(marker[{{ forloop.counter }}].getPosition());
                    info[{{ forloop.counter}} ].open(map,marker[{{ forloop.counter }}]);
                    setTimeout(function () { info[{{ forloop.counter }}].close(); }, 3000);
            });

        {% endfor %}
    }

    </script>
    <style>
        body {font-family: sans-serif}
        #map {width: 100%; height: 660px}
    </style>

    {% endblock %}

{% block body_attributes %}
    onload = 'initialize()'
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
        {% block header_content %}
        {% endblock %}
        </div>
        <div class="span12">
            <div id="map"></div>

        </div>
    </div>
{% endblock %}
