{% extends "custom_admin/base.html" %}

{% block extra_head %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>

    var map;

    function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: new google.maps.LatLng(41.879535, -87.624333),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var marker;
        {% for point in points %}
            marker = new google.maps.Marker(
                {
                    map: map,
                    position: new google.maps.LatLng({{ point.coors.1 }},{{ point.coors.0 }}),
                    icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld={{ point.label }}|{{ point.color }}",
                }
            );

        {% endfor %}
    }

    </script>
    <style>
        body {font-family: sans-serif}
        #map {width: 100%; height: 660px}
    </style>

    {% endblock %}

{% block body_attributes %}
    onload = 'initialize()'
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div id="map"></div>

        </div>
    </div>
{% endblock %}
