
{% extends "base.html" %}

{% block log_tab %}
    class="active"
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Log_ID
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>
                        {{ log.pk }}
                    </td>
                    <td>
                        {{ log.client.pk }}
                    </td>
                    <td>
                        {{ log.created }}
                    </td>
                    <td>
                        {{ log.point.x }}
                    </td>
                    <td>
                        {{ log.point.y }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}
