{% extends "base.html" %}

{% block client_tab %}
    active
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">

        <h2>{{ client.pk }}</h2><a href="{% url "clientsActivityMap" client.pk %}">Activity Map</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Client
                    </th>
                    <th>
                        Device
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Last_Activity
                    </th>
                    <th>
                        #_Totems
                    </th>
                    <th>
                        #_Messages
                    </th>
                    <th>
                        Banned
                    </th>
                    <th>
                        Active
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{% url "clientsActivityMap" client.pk %}">
                        {{ client.pk }}
                        </a>
                    </td>
                    <td>
                        {{ client.device_id }}
                    </td>
                    <td>
                        {{ client.created }}
                    </td>
                    <td>
                        {{ client.last_activity }}
                    </td>
                    <td>
                        {{ client.x_num_totems }}
                    </td>
                    <td>
                        {{ client.x_num_messages }}
                    </td>
                    <td>
                        {{ client.is_banned }}
                    </td>
                    <td>
                        {{ client.active }}
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Totems</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Totem
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Last_Activity
                    </th>
                    <th>
                        Parent_Message
                    </th>
                    <th>
                        #_Messages
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Active
                    </th>

                </tr>
            </thead>
            <tbody>
            {% for totem in totems %}
                <tr>
                    <td>
                        <a href="{% url "totemsDetail" totem.pk %}">
                            {{ totem.pk }}
                        </a>
                    </td>

                    <td>
                        {{ totem.owner.pk }} 
                    </td>
                    <td>
                        {{ totem.created }}
                    </td>
                    <td>
                        {{ totem.last_activity }}
                    </td>
                    <td>
                        {{ totem.get_parent_message.message }}
                    </td>
                    <td>
                        {{ totem.get_message_count }}
                    </td>
                    <td>
                        {{ totem.rating }}
                    </td>
                    <td>
                       {{ totem.active }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>Messages</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Message_ID
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Totem
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Active
                    </th>

                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>
                        {{ message.pk }}
                    </td>

                    <td>
                        {{ message.owner.pk }} 
                    </td>
                    <td>
                        <a href="{% url "totemsDetail" message.totem.pk %}">
                            {{ message.totem.pk }}
                        </a>
                    </td>
                    <td>
                        {{ message.created }}
                    </td>
                    <td>
                        {{ message.message }}
                    </td>
                    <td>
                        {{ message.rating }}
                    </td>
                    <td>
                       {{ message.active }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
