{% extends "base.html" %}

{% block client_tab %}
    active
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Client
                    </th>
                    <th>
                        Device
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Last_Activity
                    </th>
                    <th>
                        #_Totems
                    </th>
                    <th>
                        #_Messages
                    </th>
                    <th>
                        Banned
                    </th>
                    <th>
                        Active
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{% url "clientsDetailed" client.pk %}">
                        {{ client.pk }}
                        </a>
                    </td>
                    <td>
                        {{ client.device_id }}
                    </td>
                    <td>
                        {{ client.created }}
                    </td>
                    <td>
                        {{ client.last_activity }}
                    </td>
                    <td>
                        {{ client.x_num_totems }}
                    </td>
                    <td>
                        {{ client.x_num_messages }}
                    </td>
                    <td>
                        {{ client.is_banned }}
                    </td>
                    <td>
                        {{ client.active }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
